.minhaDiv {
    border: 5px outset red;
    background-color: lightblue;    
    text-align: center;
    max-width: 58.33333%;
  }

  .jose {
    display: flex;
    background-color: DodgerBlue;
    max-width: 100%;
    margin: 10px;
  }
  
  .textoDiv > div {
    background-color: #f1f1f1;
    margin: 5px 6px 7px 8px;
    padding: 1px 2px 3px 4px;
    font-size: 30px;
    border-right: 2px solid yellow;
    border-left: 2px solid red;
    border-top: 4px solid;
    border-bottom: 4px solid gray;
  }

  .div1 {
    width: 25%;
  }

  .div2 {
    width: 75%;
  }

  .div3{
    width: 100%;
  }